<!--
    Home view
-->

<section class="content__main">
    <!-- <a href="#new-project-view" class="button" ng-click="clearObject()">Start New Project</a>
    <a href="#projects-list-view" class="button">Current Projects</a> -->

    <div class="main">
        <div class="">
            <p>Here's where I should say a little something about the app. A little instruction maybe. Keep it short and sweet.</p>
            <button ng-click="go('new-project-view')" class="button" ng-click="clearObject()">New Track</button>
            <button ng-click="go('projects-list-view')"class="button">Current Tracks</button>
        </div>
    </div>

</section>
