<!--
    Home view
-->

<section class="content__main">
    <!-- <a href="#new-project-view" class="button" ng-click="clearObject()">Start New Project</a>
    <a href="#projects-list-view" class="button">Current Projects</a> -->

    <div class="main">
        <div class="">
            <p>Start a new track to begin tracking time toward a new goal. View current tracks to see how much progress you've already made.</p>
            <button ng-click="go('new-project-view')" class="button" ng-click="clearObject()">New Track</button>
            <button ng-click="go('projects-list-view')"class="button">Current Tracks</button>
        </div>
    </div>

</section>
