---
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="homepage" data-group="one">

    <div class="page-content">
      <div class="wrapper">
        <div class="site-intro side--left">
            <div class="homepage__logo">
              <h1>
                <span class="cursor">|</span>
                <span class="less-than">&lt;</span>
                <span class="slash">&#47;</span>
                <span class="greater-than">&gt;</span>
                <span class="name--first">Jef</span>
                <span class="name--last">DeWitt</span>
              </h1>
            </div>
            <p>Front-end Developer</p>
            <div class="menu__container">
                <ul class="menu">
                    <li class="menu__item1"><a href="/projects">Projects</a></li>
                    <li class="menu__item2"><a href="/archive">Blog</a></li>
                    <li class="menu__item3"><a href="/connect">Connect</a></li>
                </ul>
            </div>
        </div>
        <div class="image__container side--right">
        </div>
      </div>

    {% include footer.html %}

  </body>

</html>
