<!--
    In the Liquid templating language you assign variables via the method shown below.
    Notice the 'page.url' and 'post.url' tags used to get the respective URLs.
    {% assign currentPage = page.url %}
    {% assign currentPost = post.url %}
    You write your variables to the document by wrapping them inside double curly braces
    <p>{{ current }}</p>
    <p>{{ currentPost }}</p>
-->

<aside class="sidebar">
    <div class="headshot">
        <img src="{{ site.baseurl }}/images/jef-sidebar-portrait.jpg">
        <h2>Jef DeWitt</h2>
        <p>I'm a burgeoning Front-end Developer and weekend Software Engineer in Louisville, KY.</p>
        <a href="{{ site.baseurl }}/connect">Contact me.</a>
    </div>
    <div class="sidebar__posts">
        {% if page.url contains 'projects' %}
            <h2>Recent Projects</h2>
        {% else %}
            <h2>Recent Posts</h2>
        {% endif %}

        <ul class="post-list">
          {% if page.url contains 'projects' %}

              {% for project in site.projects %}
                <li>
                  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                  <h3>
                    <a class="post-link" {% if page.url == project.url %}id='current'{% endif %} href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
                  </h3>
                </li>
              {% endfor %}

          {% else %}

              {% for post in site.posts %}
                <li>
                  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                  <h3>
                    <a class="post-link" {% if page.url == post.url %}id='current'{% endif %} href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  </h3>
                </li>
              {% endfor %}

          {% endif %}
        </ul>
    </div>
</aside>
