
<aside class="sidebar">
    <div class="headshot">
        <img src="{{ site.baseurl }}/images/jef-sidebar-portrait.jpg">
        <h2>Jef DeWitt</h2>
        <p>I'm a burgeoning front-end software engineer who knows almost enough to be dangerous.</p>
        <a href="{{ site.baseurl }}/connect">Contact me.</a>
    </div>
    <div class="sidebar__posts">
        {% if page.url contains 'projects' %}
            <h2>Recent Projects</h2>
        {% else %}
            <h2>Recent Posts</h2>
        {% endif %}

        <ul class="post-list">
          {% if page.url contains 'projects' %}
              {% for project in site.projects reversed sort:'date' %}
                <li>
                  <h3>
                    <a class="post-link" {% if page.url == project.url %}id='current'{% endif %} href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
                  </h3>
                </li>
              {% endfor %}

          {% else %}

              {% for post in site.posts limit: 3 %}
                <li>
                  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                  <h3>
                    <a class="post-link" {% if page.url == post.url %}id='current'{% endif %} href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  </h3>
                </li>
              {% endfor %}

          {% endif %}
        </ul>
    </div>
</aside>
