/**
 * Reset some basic elements
 */
* {
    box-sizing: border-box;
}


.header {
    font-size: 4rem;
}


body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    letter-spacing: 1px;
    position: relative;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure, span, img,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
// ul, ol {
//     margin-left: $spacing-unit;
// }

li {

    list-style: none;

    > ul,
    > ol {
         margin-bottom: 0;
    }
}

ol li {
    list-style-type: decimal;
    margin-left: 2em;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    // font-weight: $base-font-weight;
    font-weight: $normal;
    font-family: $raleway;
}

h2 {
    font-size: 32px;
    color: $lime-green;

    @include media($tablet, 'max') {
        font-size: 30px;
    }
}

h3 {
    font-size: 26px;

    @include media($tablet, 'max') {
        font-size: 22px;
    }
}

h4 {
    font-size: 20px;

    @include media($tablet, 'max') {
        font-size: 18px;
    }
}

/**
 * Base type elements
 */
p, li, a, label, input {
    font-weight: $normal;
    font-family: $raleway;
    color: $text-color;

    @include media($tablet) {
        font-size: 1.25rem;
        font-weight: $light;
    }
}

p + h2 {
    padding-top: 1em;
}

// em {
//     color: $lime-green;
//     font-family: $raleway;
//     font-weight: 700;
//     font-style: normal;
//     text-shadow: 1px 1px 1px $text-shadow, 1px 1px 2em $text-shadow;
// }

label {
    display: block;
}

.cursive {
    font-family: $yellowtail;
}

/**
 * Links
 */
a {
    color: $lime-green;
    text-decoration: none;
    transition: all .5s ease;

    &:visited {
        color: $lime-green;
    }

    &:hover {
        color: lighten($lime-green, 10%);
        text-decoration: none;
    }
}



/**
 * Blockquotes
 */
blockquote {
    background: $grey-color-medium;
    color: $text-color;
    margin-bottom: 0;
    @extend .overflow-width;

    @include media($mobile) {
        background: $grey-color-dark;
        right: 95%;
    }

    &:before {
        border-left: .25em solid $lime-green;
        content: '';
        height: 75%;
        position: absolute;
            left: 4em;
            top: 50%;
            transform: translatey(-50%);
        width: 0;
    }


    > :last-child {
        margin-bottom: 0;
    }

    p {
        @include media($tablet) {
            font-size: 1.25em;
        }
    }

    + blockquote {
        margin-top: -1em;
    }

    + h2 {
        padding-top: 1em;
    }

    + p {
        padding-top: 2em;
    }

}

.post-content blockquote {
    padding: 4em 6em;
}

/**
 * Code formatting
 */
.wrapper .highlighter-rouge,
dl {
    background: $grey-color-medium;
    @extend .overflow-width;

    @include media($mobile) {
        background: $grey-color-dark;
        padding: 2em 4em;
    }

    .highlight {
        background: $grey-color-medium;
        margin: 0em 0;
        width: 100%;

        @include media($mobile) {
            background: $grey-color-dark;
        }

        .err {
            color: $text-color;
            background: initial;
        }
    }
}

.highlighter-rouge + h2 {
    padding-top: 1em;
}

.highlighter-rouge + p {
    padding-top: 2em;
}

p + .highlighter-rouge,
p + blockquote  {
    margin-top: 2em;
}

pre,
code {
    border-radius: 3px;
    font-size: 15px;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
        white-space: pre;
        word-wrap: break-word;
    }
}

.wrapper {

    p, li {

        > code.highlighter-rouge {
            padding: .25em;
            position: initial;
        }
    }
}

dt {
    margin-bottom: 1em;
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 32px;
        height: 32px;
        vertical-align: middle;

        path,
        circle {
            fill: $text-color;
            transition: all 0.3s ease;
        }
    }
}
