/**
 * Connect (contact) page
 */
.connect {

    .content__container.post{
        @include media($mobile) {
            display: inline-block;
            width: 49%;
            vertical-align: top;
            margin-right: 2%;

            .social-media-list {
                float: left;

                li {
                    float: left;
                }
            }
        }
    }

    .icon--email {
        display: none;
    }
}

.form__container{
    @include media($mobile) {
        display: inline-block;
        width: 48%;
        vertical-align: top;
    }
}
