/**
 * Forms (connect page)
 */
 .form__block {
     margin-bottom: 1em;

     input,
     textarea {
         background: $grey-color-dark;
         border: none;
         border-bottom: 1px solid $text-color;
         color: $text-color;
         font-size: 1rem;
         height: 2em;
         margin: 1em auto;
         padding: 0 .5em;
         transition: all 0.3s ease;
         width: 95%;

         &:focus {
             outline: none;
             border-left: 1px solid $text-color;
         }
     }

     textarea {
        height: 4em;
     }
 }

 input.button {
     @extend .button__white--color;
 }

 input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
     -webkit-box-shadow:0 0 0 50px $grey-color-dark inset; /* Change the color to your own background color */
     -webkit-text-fill-color: $white;
 }
