/**
 * Header style
 */
 .site-header {
    //  border-top: 5px solid $grey-color-dark;
    //  border-bottom: 1px solid $grey-color-light;
     min-height: 56px;
     background: $grey-color-dark;
     padding: 1em 0 0;
     border-top: 0.25rem solid $lime-green;

     @include media($mobile) {
          padding: 3em 0 2em;
     }

     .site-header__inner {
         margin: auto;
         // Positioning context for the mobile navigation icon
         position: relative;

         @include media($tablet, 'max') {
             max-width: -webkit-calc(#{$tablet} - (#{$spacing-unit}));
             max-width:         calc(#{$tablet} - (#{$spacing-unit}));
             padding-right: $spacing-unit / 2;
             padding-left: $spacing-unit / 2;
         }

         @include media($desktop) {
             max-width: -webkit-calc(#{$desktop} - (#{$spacing-unit}));
             max-width:         calc(#{$desktop} - (#{$spacing-unit}));
             padding-right: $spacing-unit / 2;
             padding-left: $spacing-unit / 2;
         }
     }
 }

 .site-title {
    float: right;

        @include media($tablet) {
            margin-right: 3em;
        }

    h1 {
        position: relative;
        display: table-cell;
        white-space: nowrap;
        vertical-align: middle;
        color: $white;
        overflow: hidden;
        // Removes pesky transition flicker bug
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;
        -webkit-transform:translate3d(0,0,0);

        &:hover {
            .header__slash {
                position: absolute;
                left: 61%;
                z-index: 2;
                transform: skewx(15deg) scalex(1.1);

                @include media($tablet) {
                    left: 60%;
                    transform: skewx(17deg) scalex(1.1);
                }
            }
            [class^='header__name'] {
                display: inline-block;
                opacity: 1;
            }
            .header__less-than {
                margin-right: 3px;
            }
            .header__name--first {
                width: 6.25rem;
                color: $lime-green;

                 @include media($tablet) {
                     width: 7.5rem;
                 }
            }
            .header__name--last {
                width: 4.25rem;
                color: $lime-green;

                @include media($tablet) {
                    width: 5.5rem;
                }
            }
        }
    }

    .header__less-than,
    .header__greater-than,
    .header__slash {
        transition: all .5s ease;
    }

    .header__less-than,
    .header__greater-than {
        position: relative;
        bottom: 3px;
    }

    [class^='header__name'] {
        display: inline-block;
        width: 0;
        opacity: 0;
        transition: opacity 1s ease, width .3s ease;
    }
}

//
// .site-title {
//
//     &:hover {
//         text-decoration: none;
//     }
//
//     h1 {
//         color: $text-color;
//         font-weight: 700;
//         //text-shadow: 1px 1px 4px $text-color;
//     }
// }
