
.background__overlay {
    animation: fade 10s ease forwards;
    background: rgba(0,0,0,.75);
    height: 100%;
    pointer-events: none;
    position: absolute;
        z-index: 2;
    width: 100%;
}

@keyframes fade {
    0% {
        background: rgba(0,0,0,.75);
    }
    95% {
        background: rgba(0,0,0,.75);
    }
    100% {
        background: rgba(0,0,0,0);
        pointer-events: none;
    }
}

.homepage .logo__container {
    animation: vanish 10s ease forwards;
    pointer-events: none;
    position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 25%);
        z-index: 3;

    p {
        animation: add-on 2s 30s ease forwards;
        font-family: $yellowtail;
        font-size: 7vw;
        transition: all 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);

        @include media($mobile, 'max') {
            font-size: 4vh;
        }

        @include media ($desktop) {
            font-size: 4rem;
        }
    }
}

@keyframes vanish {
    0% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes add-on {
    0% {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.homepage {

    &__logo {
        @include media($mobile, 'max') {
            position: relative;
            right: 3rem;
        }
    }

    .page-content,
    .wrapper {
        max-width: 100%;
        padding: 0;
    }

    .panels {
      min-height:100vh;
      overflow: hidden;
      display: flex;
          flex-direction: column;

          @include media ($mobile) {
              flex-direction: row;
          }
    }

    .panel {
      align-items:center;
      color:white;
      background:#6B0F9C;
      background-position:center;
      background-size:cover;
      box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
      display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: center;
      overflow: hidden;
      position: relative;
      text-align: center;
      transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
      font-size: 20px;

      > div {
          display:flex;
              align-items: center;
              flex: 1 0 auto;
              justify-content: center;
          margin:0;
          max-width: 100%;
          transition:transform 0.5s;

          @include media($mobile) {
              padding: 0 2rem;
          }
      }
    }

    .panel1 {
        background: url('/images/jef-country-profile.jpg') no-repeat;
        background-size: cover;
        background-position: center 20%;

        @include media($mobile) {
            background-position: center;
        }
    }

    .panel2 {
        background: url('/images/jef-hater-blocking.jpg') no-repeat;
        background-size: cover;
        background-position: center 20%;

        @include media ($mobile) {
            background-position: center right;
        }
    }

    .panel3 {
        background: url('/images/jef-dapper.jpg') no-repeat;
        background-size: cover;
        background-position: center 20%;

        @include media($mobile) {
            background-position: center;
        }
    }

    .panel > *:first-child { transform: translateY(-100%); }
    .panel.open-active > *:first-child { transform: translateY(0); }
    .panel > *:last-child { transform: translateY(100%); }
    .panel.open-active > *:last-child { transform: translateY(0); }

    .panel p {
      text-transform: uppercase;
    //   font-family: 'Amatic SC', cursive;
      text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
      font-size: 1em;

      @include media($mobile) {
          font-size: 2rem;
      }
    }
    .panel div:nth-child(2) {
      position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);

      p {
          font-size: 7vw;
      }
    }

    .panel a {

        @include media($mobile) {
            font-size: 2rem;
        }

        span {
            color: $white;
        }
    }

    .panel.open {
      flex: 3;
    }

    .cta {
      color:white;
      text-decoration: none;
    }

}

.side--left {
    @include media($mobile) {
        padding: 25% 5% 0;
    }
}

.homepage .site-footer svg {
    path,
    circle {
        fill: $text-color;
    }
}

.homepage {

    h1 {
        color: $text-color;
        text-shadow: 1px 1px 1px $text-shadow;
        font-size: 5rem;
        line-height: 1;
        font-weight: $bold;

        @include media ($mobile) {
            font-size: 6rem;
        }
    }

    p {
        color: $text-color;
        text-shadow: 1px 1px 1px $text-shadow, 1px 1px 2em $text-shadow;
        font-size: 2rem;
        // font-family: $yellowtail;
    }

    .site-footer {
        @include media ($mobile) {
            padding: 0;
            position: fixed;
                bottom: 0%;
                right: 5%;
            width: 20em;

            .footer-col-1, .footer-col-2 {
                width: 100%;
            }
        }
    }
}

.menu {

    list-style: none;
    margin: 0;

    li {
        @include media ($mobile) {
            display: inline-block;
            margin-right: 2em;
        }

        a {
            color: $text-color;
            text-shadow: 1px 1px 1px $text-shadow, 1px 1px 2em $text-shadow;
            font-size: 2.5rem;
            text-decoration: none;
            font-family: $raleway;
            font-weight: 400;

            &:hover {
                color: $lime-green;
            }
        }
    }
}

.homepage__logo {
    position: relative;
    bottom: 3.5rem;
    animation: rise 1s 6s forwards;

    @include media ($mobile) {
        bottom: 1.5rem;
    }
}

@keyframes rise {
    100% {
        bottom: 6.5rem;
    }
}

.cursor {
  position: absolute;
  left: 0;
  bottom: .5rem;
  animation: blink 4s forwards, space 4s 2s forwards;

  @include media ($mobile) {
    animation: blink 4s forwards, space2 4s 2s forwards;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  19% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  39% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  59% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  79% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes space {
  0% {
    left: 0rem;
  }
  24% {
    left: 0rem;
  }
  25% {
    left: 3.65rem;
  }
  49% {
    left: 3.65rem;
  }
  50% {
    left: 7rem;
  }
  74% {
    left: 7rem;
  }
  75% {
    left: 10.3rem;
  }
  99% {
    opacity: 1;
  }
  100% {
    left: 10.3rem;
    opacity: 0;
  }
}

@keyframes space2 {
  0% {
    left: 0rem;
  }
  24% {
    left: 0rem;
  }
  25% {
    left: 3.65rem;
  }
  49% {
    left: 3.65rem;
  }
  50% {
    left: 8rem;
  }
  74% {
    left: 8rem;
  }
  75% {
    left: 11.8rem;
  }
  99% {
    opacity: 1;
  }
  100% {
    left: 11.8rem;
    opacity: 0;
  }
}

.less-than {
  opacity: 0;
  position: absolute;
  bottom: .5rem;
  animation: appear 1s 3s forwards;
}

.slash {
  position: absolute;
  z-index: 2;
  opacity: 0;
  top: -6rem;
  left: 3rem;
  animation: appear 1s 4s forwards, shift 1s 6s forwards;
  transition: all .3s ease;

  @media screen and (min-width: 768px) {
    top: -7rem;
    left: 3.5rem;
    animation: appear 1s 4s forwards, shift2 1s 6s forwards;
  }
}

.greater-than {
  position: absolute;
  opacity: 0;
  top: -6.5rem;
  left: 7rem;
  animation: appear 1s 5s forwards, move 1s 6s forwards;
  transition: all .3s ease;

  @media screen and (min-width: 768px) {
     top: -7.5rem;
     left: 8.5rem;
     animation: appear 1s 5s forwards, move2 1s 6s forwards;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shift {
  0% {
    left: 2rem;
  }
  100% {
    top: 0rem;
    left: 7.1rem;
    transform: skewx(19deg) scaleX(1.1);
  }
}

@keyframes shift2 {
  100% {
    top: 0rem;
    left: 8.5rem;
    transform: skewx(19deg) scaleX(1.1);
  }
}

@keyframes move {
  0% {
    left: 3rem;
  }
  100% {
    bottom: auto;
    top: -.5rem;
    left: 18rem;
  }
}

@keyframes move2 {
  100% {
    bottom: auto;
    top: -.5rem;
    left: 21.25rem;
  }
}

.name--first {
  position: absolute;
  left: 3rem;
  bottom: 0;
  opacity: 0;
  animation: reveal 1s 6s forwards;

  @include media ($mobile) {
      left: 3.25rem;
  }
}

@keyframes reveal {
  100% {
    opacity: 1;
    color: $lime-green;
  }
}

.name--last {
  position: absolute;
  opacity: 0;
  top: 0;
  animation: show 1s 6s forwards;
}

@keyframes show {
  100% {
    opacity: 1;
    color: $lime-green;
  }
}



.kerick {

    @include media($mobile, 'max') {
        display: none;
    }

    background: url('/images/kericks-head.png') no-repeat;
    background-size: contain;
    display: inline-block;
    height: 240px;
    position: absolute;
        right: 50px;
        top: 110%;
    width: 400px;
    z-index: 1;

    &.open-up {
        animation: popup 2s ease forwards;

        &:before {
            background: url('/images/wigflip-ds.png') no-repeat;
            background-size: contain;
            content: '';
            display: inline-block;
            height: 100px;
            position: absolute;
                bottom: 200px;
                right: 50%;
            width: 300px;
        }
    }
}

@keyframes popup {
    0% {
        top: 100%;
    }
    25% {
        top: 67%;
    }
    100% {
        top: 67%;
    }
}
