.home {
    // background: url('/images/IMG_1181.jpg') no-repeat;
    // background-size: cover;
    .page-content > .wrapper {
        position: relative;
        @include media($on-palm) {
            padding-top: 10%;
            padding-bottom: 10%;
            // &:after {
            //     content: '';
            //     position: absolute;
            //     background: url('/images/IMG_1170.jpg') no-repeat;
            //     background-position: center right;
            //     background-size: contain;
            //     right: 5%;
            //     bottom: 0;
            //     width: 50%;
            //     height: 100%;
            //     transform: rotate(90deg);
            //     display: inline-block;
            // }
        }
    }
}

.side--left {
    @include media($on-palm) {
        padding: 10%;
    }
}

// .side--right {
//     @include media($on-palm) {
//         display: table-cell;
//         width: 60%;
//         position: relative;
//         overflow: hidden;
//     }
    // &:after {
    //     content: '';
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 30%;
    //     background: linear-gradient(to top, rgba(256,256,256,1) 50%,rgba(256,256,256,0) 100%);
    // }
    // img {
    //     transform: rotate(-25deg);
    //     filter: grayscale(30%);
    //     -webkit-filter: grayscale(30%);
    // }
// }

.menu {
    li {
        a {
            @include media($on-palm) {
                // &:after {
                //     content: '';
                //     position: absolute;
                //     right: 5%;
                //     bottom: 0;
                //     width: 50%;
                //     height: 100%;
                //     transform: rotate(90deg);
                //     opacity: 0;
                //     transition: all 0.5s ease;
                // }
                // &:hover:after {
                //     opacity: 1;
                // }
            }
        }
        &:first-of-type a:after {
            // background: url('/images/IMG_1171.jpg') no-repeat;
            // background-position: center;
            // background-size: contain;
        }
        &:nth-of-type(2) a:after {
            // background: url('/images/IMG_1176.jpg') no-repeat;
            // background-position: center;
            // background-size: contain;
        }
        &:last-of-type a:after {
            // background: url('/images/IMG_1181.jpg') no-repeat;
            // background-position: center;
            // background-size: contain;
        }
    }
}

// a:before {
    // content: '';
    // position: absolute;
    // bottom: 0;
    // right: 5%;
    // width: 50%;
    // background: linear-gradient(to left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    // z-index: 100;
    // height: 100%;
    // transform: rotate(90deg);
// }
