/**
 * General page layout styles
 */

 /**
  * Wrapper
  */
 .wrapper {
     // max-width: -webkit-calc(#{$small-content-width} - (#{$spacing-unit} * 2));
     // max-width:         calc(#{$small-content-width} - (#{$spacing-unit} * 2));
     margin-right: auto;
     margin-left: auto;
     padding-right: $spacing-unit;
     padding-left: $spacing-unit;
     @extend %clearfix;

     @include media($mobile, 'max') {
         max-width: -webkit-calc(#{$small-content-width} - (#{$spacing-unit}));
         max-width:         calc(#{$small-content-width} - (#{$spacing-unit}));
         padding-right: $spacing-unit / 2;
         padding-left: $spacing-unit / 2;
     }

     @include media($desktop) {
         max-width: -webkit-calc(#{$desktop} - (#{$spacing-unit}));
         max-width:         calc(#{$desktop} - (#{$spacing-unit}));
         padding-right: $spacing-unit / 2;
         padding-left: $spacing-unit / 2;
     }
 }


.page-content {
    padding: 2em 0;

    .wrapper {
        //background: $grey-color;
    }
}

body:not(.homepage) .page-content {
    background: $grey-color-dark;
    position: relative;
    z-index: 1;

    @include media($mobile) {
        min-height: 1200px;
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 2rem;
}

input {
    border: 1px solid;
}

/**
 * Especial extra wide width class
 */
 .overflow-width {
     left: -4em;
     max-width: calc(100% + 8em);
     padding: 2em 4em;
     position: relative;
     width: calc(100% + 8em);

     @include media($mobile){
         padding: 4em;
     }
 }

/**
 * Images
 */
[class*="float"] {
    font-weight: 300;
    font-style: italic;
    text-align: center;

    @include media($mobile) {
        width: 33%;
    }

    img {
        display: block;
        margin: 0 auto 1em;
    }
}

div:not(.home).float--right {

    a {
        color: $text-color;
    }

    @include media($mobile) {
        float: right;
        margin-left: 1em;
    }
}

div:not(.home).float--left {

    a {
        color: $text-color;
    }

    @include media($mobile) {
        float: left;
        margin-right: 1em;
    }
}

div:not(.home).center {

    a {
        color: $text-color;
    }

    @include media($mobile) {
        margin: 0 1em;
        text-align: center;
    }
}

div:not(.home).full-screen {

    @include media($mobile) {
        left: -4em;
        max-width: calc(100% + 8em);
        position: relative;
        width: calc(100% + 8em);
    }
}
