/**
 * General page layout styles
 */

 /**
  * Wrapper
  */
 .wrapper {
     // max-width: -webkit-calc(#{$small-content-width} - (#{$spacing-unit} * 2));
     // max-width:         calc(#{$small-content-width} - (#{$spacing-unit} * 2));
     margin-right: auto;
     margin-left: auto;
     padding-right: $spacing-unit;
     padding-left: $spacing-unit;
     @extend %clearfix;

     @include media($mobile, 'max') {
         max-width: -webkit-calc(#{$small-content-width} - (#{$spacing-unit}));
         max-width:         calc(#{$small-content-width} - (#{$spacing-unit}));
         padding-right: $spacing-unit / 2;
         padding-left: $spacing-unit / 2;
     }

     @include media($desktop) {
         max-width: -webkit-calc(#{$desktop} - (#{$spacing-unit}));
         max-width:         calc(#{$desktop} - (#{$spacing-unit}));
         padding-right: $spacing-unit / 2;
         padding-left: $spacing-unit / 2;
     }
 }


.page-content {
    padding: 2em 0;

    .wrapper {
        //background: $grey-color;
    }
}

body:not(.homepage) .page-content {
    background: $grey-color-dark;
    position: relative;
    z-index: 1;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 2rem;
}

input {
    border: 1px solid;
}

/**
 * Images
 */
.project__content {
    .float--right {
        width: 33%;
        float: right;
        padding-left: 2em;
    }
    .float--left {
        width: 33%;
        float: left;
        padding-right: 2em;
    }
    .center {
        width: 33%;
        text-align: center;
        margin: auto;
    }
}
