/**
 * Navigation
 */
 .site-nav {
    position: absolute;
    top: 33%;
    left: 0;
    width: 100%;

    @include media($mobile) {
        left: 4em;
    }

    @include media($tablet) {
        width: auto;
    }

     .menu-icon {
        display: block;
        position: relative;
        bottom: 1.25em;
        left: .5em;

        @include media($mobile) {
            display: none;
        }

         > svg {
             width: 18px;
             height: 15px;

             path {
                 fill: $grey-color-dark;
             }
         }
     }

     .page-link__container {

         position: relative;
         transition: all 1s ease;

         @include media ($mobile, 'max') {
             @for $i from 1 through 3 {
                 &:nth-of-type(#{$i}) {
                     top: $i * 25rem;
                 }
             }
         }

         @include media ($mobile) {
             display: inline-block;
             padding-right: 3em;
         }

         @include media ($desktop) {
             padding-right: 5em;
         }

         .page-link {
             display: block;
             font-size: 1.5rem;
             text-decoration: none;
             color: $text-color;
             line-height: $base-line-height;

             &:hover {
                 color: $lime-green;
             }

             @include media ($mobile, 'max') {
                 border-bottom: 1px solid $lime-green;
                 margin-left: -1em;
                 padding: 1em 2em;
             }

             &:not(:last-child) {
                 margin-right: 0;
             }
         }
     }
 }


.trigger {
    opacity: 0;
    position: relative;
    transition: all 0.5s ease;
    margin: 0;

    @include media($tablet) {
        right: 20em;
    }

    &.open {
        display: block;
        opacity: 1;
        right: 0;

        @include media ($mobile, 'max') {
            background: $grey-color;
            z-index: 100;
        }

        .page-link__container {
            top: 0;
        }

        @include media ($mobile, 'max') {
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 150vh;
                top: 100%;
                left: 0;
                background: -webkit-linear-gradient( bottom, rgba(128, 128, 128, 0) 0%, rgba(128,128,128, 1) 100%);
                background: linear-gradient( bottom, rgba(128, 128, 128, 0) 0%, rgba(128,128,128, 1) 100%);
            }
        }
    }
}

.menu-icon {
    font-size: 1.5rem;

    &:hover {
        text-decoration: none;
    }

    svg {
        display: none;
    }

    span, p {
        pointer-events: none;
    }

    span {
        border-bottom: 4px solid $text-color;
        display: inline-block;
        width: 2rem;
        position: relative;
        transition: all 0.3s ease;

        &:first-of-type {
            transform: rotate(90deg);
        }

        &:nth-of-type(2) {
            transform: rotate(55deg);
            width: 1.5rem;
            right: 1.7rem;
            bottom: 0.3rem;
        }

        &:nth-of-type(3) {
            transform: rotate(125deg);
            width: 1.5rem;
            right: 2.9rem;
            bottom: 0.3rem;
        }

        &:last-of-type {
            transform: rotate(90deg);
            right: 4.65rem;
        }
    }

    p {
        display: inline;
        font-size: 2rem;
        position: relative;
        right: 5.7rem;
        top: 0.8rem;
        color: $text-color;
    }
}


.menu-icon.clicked {

    span {

        &:first-of-type {
            transform: rotate(45deg);
            border-bottom: 3px solid $text-color;
            box-shadow: none;
            left: 1rem;
        }

        &:nth-of-type(2),
        &:nth-of-type(3) {
            opacity: 0;
        }

        &:last-of-type {
            transform: rotate(135deg);
            right: 5.35rem;
            border-bottom: 3px solid $text-color;
            box-shadow: none;
        }
    }

    p {
        opacity: 0;
        transition: all 0.5s ease;
    }
}


#current-page {
    @include media ($mobile) {
        position: relative;

        &:before {
            @include media($mobile) {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 1.75rem 0 1.75rem 1.75rem;
                border-color: transparent transparent transparent $grey-color-medium;
                left: 33%;
                top: 130%;
                transform: rotate(270deg) translatex(-50%);
                z-index: 10;
            }
        }
    }

    &:hover {
        color: $white;
    }
}

/**
 * Pagination
 */
 .PageNavigation {
     width: 100%;
 }

 .next {
     float: right;
 }
