/**
 * Projects
 */
.projects .wrapper .post {
    @include media ($mobile) {
        padding: 2em 2em 0 2em;
    }
}

.projects__container {
    position: relative;
}

.projects__inner {
    //desktop layout
    width: 100%;
    margin-right: 0;
    text-align: right;
    display: inline-block;
    vertical-align: top;
}

.project__description {
    //desktop layout
    position: absolute;
    left: 0;
    top: 0;
    height: 10em;
    width: 10em;
    background: #ccc;
}

.projects__individual {

    ul {
    }

    li {
        list-style: none;
        width: 100%;
        margin-bottom: 2em;

        @include media($mobile) {
            width: 47%;
            display: inline-block;

            &:nth-of-type(odd) {
                float: left;
            }

            &:nth-of-type(even) {
                float: right;
            }
        }

        div {
            position: relative;

            h2 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.project__content {

    .post-title {
        margin-bottom: 2rem;
    }

    img {
        margin-bottom: 2em;
    }
}

.project__link {
    display: inline-block;
    margin-bottom: 2em;
}
