/**
 * Projects
 */
.projects .wrapper .post {
    @include media ($mobile) {
        padding: 3em 3em 0 3em;
    }
}

.projects__container {
    position: relative;
}

.projects__inner {
    //desktop layout
    width: 100%;
    margin-right: 0;
    text-align: right;
    display: inline-block;
    vertical-align: top;
}

.project__description {
    //desktop layout
    position: absolute;
    left: 0;
    top: 0;
    height: 10em;
    width: 10em;
    background: #ccc;
}

.projects__individual {

    li {
        list-style: none;
        width: 100%;
        margin-bottom: 2em;
        overflow: hidden;

        @include media($mobile) {
            display: inline-block;
            // height: 20em;
            width: 47%;

            &:nth-of-type(odd) {
                float: left;
            }

            &:nth-of-type(even) {
                float: right;
            }
        }

        img {
            margin-bottom: 0;
        }
    }
}

.projects__individual {
    a {
        .image__wrap {
            position: relative;
            margin-bottom: 1em;

            .project__overlay {
                position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                width: 100%;
            }


            &:before {
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+1,000000+100&0+0,0.65+100 */
                background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 1%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
                background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
                background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

                content: '';
                height: 100%;
                position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                transition: all .3s ease;
                width: 100%;
            }

            &:after {
                box-shadow: inset 0 0 13px $lime-green;
                content: '';
                height: 100%;
                position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                transition: all .3s ease;
                width: 100%;
            }

            @include media($desktop) {

                &:before {
                    opacity: .3;
                }

                &:after {
                    opacity: 0;
                }

                &:hover {
                    &:before,
                    &:after {
                        opacity: 1;
                    }

                    h2 {
                        color: $lime-green;
                        top: 0;

                        &:last-of-type {
                            opacity: 1;
                        }
                    }
                }
            }

            h2 {
                @include media($desktop) {
                    color: $white;
                    position: relative;
                        top: 1em;
                    transition: all .3s ease;
                }
            }

            h2:first-of-type {

                font-size: 10vw;
                text-align: center;
                text-shadow: 1px 1px 1px $grey-color-dark;
                transition: all .5s ease;

                @include media($mobile) {
                    font-size: 3vw;
                }
            }

            h2:last-of-type {

                font-size: 8vw;
                text-align: center;
                text-shadow: 1px 1px 1px $grey-color-dark;
                transition: all .5s ease;

                @include media($mobile) {
                    font-size: 2vw;
                }

                @include media($desktop) {
                    opacity: 0;
                }
            }
        }
    }
}

.project-header {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    overflow: hidden;

    img {
        position: absolute;
        top: 50%;
        transform: translatey(-50%);
    }
}

.project__content {

    > img {
        margin-bottom: 3em;
        width: 100%;
    }

    .image {
        padding-bottom: 2em;
    }
}

.project__link {
    display: inline-block;
    margin-bottom: 2rem;
    word-break: break-word;
}
