/**
 * Sidebar styles
 */

.sidebar {

    @include media($mobile, 'max') {
        display: flex;
        flex-direction: column;

        .sidebar__posts {
            order: 1;
            margin-bottom: 1em;
        }

        .headshot {
            order: 2;
        }
    }

    @include media($tablet) {
        width: 25%;
        display: inline-block;
        vertical-align: top;
        padding: 1em 0em 1em 2em;
        position: relative;
    }

    h2 {
        position: relative;

        @include media($tablet) {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            top: 115%;
            right: 50%;
            transform: translatex(50%);
            border-bottom: 1px solid $lime-green;

            @include media($tablet) {
                right: 35%;
                transform: none;
            }
        }

        &:last-of-type {
            margin-bottom: 2rem;
        }
    }

    p, a {
        font-size: 1rem;
    }
    
    .post-link {
        @include media($tablet) {
            font-size: 1rem;
        }
    }
}

.headshot {
    margin-bottom: 1em;

    img {
        margin-bottom: 2em;

        @include media($tablet) {
            margin-bottom: 1em;
            padding-right: 2em;
        }
    }
}


// Current post
a#current {

    &:before {
        @include media($tablet) {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0.75rem 0 0.75rem 0.75rem;
            border-color: transparent transparent transparent $grey-color-medium;
            left: -2.2%;
            transform: rotate(360deg);
        }
    }
}
