/**
 *
 */
 .social-media-list {

     list-style: none;
     margin-left: 0;
     text-align: right;

     @include media($mobile, 'max') {
         text-align: justify;

         &:after {
             content: '';
             display: inline-block;
             width: 100%;
         }
     }

     li {
         @include media($mobile, 'max') {
             display: inline-block;
         }
     }

     a {
         svg {
             transition: all 0.3s ease;

             path,
             circle {
                 fill: $text-color;
             }
         }

         &:hover svg {
             @include media($mobile) {

                transform: scale(1.2);

                path,
                circle {
                    fill: $lime-green;
                }

             }
         }
     }
 }

.site-footer {
    .social-media-list {
         li {
              @include media($mobile) {
                 float: right;
             }
         }
     }
 }
