/**
 * Fonts
 */

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway-heavy-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/raleway-heavy-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-heavy-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-heavy-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/raleway-heavy-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-heavy-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-style: normal;
       font-weight: 700;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/raleway-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-style: normal;
       font-weight: 400;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway-thin-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-thin-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-thin-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/raleway-thin-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-thin-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-style: normal;
       font-weight: 300;
}

@font-face {
  font-family: 'Yellowtail';
  src: url('../fonts/yellowtail-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/yellowtail-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/yellowtail-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/yellowtail-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/yellowtail-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/yellowtail-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-style: italic;
       font-weight: 400;
}

$raleway: 'Raleway';
$yellowtail: 'Yellowtail';
