<!--
    Project Output
-->

<section class="content__main">

    <div class="main output-view">
        <div class="">
            <div class="content__main--header">
                <h2>{[{Output.name }]}</h2>
                <h2 class="hours">{[{Output.hours }]} hours</h2>
            </div>

            <div class="field__container">

                <table class="output">
                    <thead>
                        <tr>
                            <th></th>
                            <th>hours</th>
                            <th>percent</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>today</td>
                            <td>{[{todaysTime.toFixed(2) }]}</td>
                            <td>{[{todaysPctg.toFixed(2) }]}%</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>week</td>
                            <td>{[{weekTotalHours.toFixed(2) }]}</td>
                            <td>{[{weekTotalPctg.toFixed(2) }]}%</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>{[{weekAvg.toFixed(2) }]}</td>
                            <td>{[{weekDailyAvgPctg.toFixed(2) }]}%</td>
                            <td>daily avg</td>
                        </tr>
                        <tr>
                            <td>month</td>
                            <td>{[{monthTotalHours.toFixed(2) }]}</td>
                            <td>{[{monthTotalPctg.toFixed(2) }]}%</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>{[{monthAvg.toFixed(2) }]}</td>
                            <td>{[{monthDailyAvgPctg.toFixed(2) }]}%</td>
                            <td>daily avg</td>
                        </tr>
                        <tr>
                            <td>year</td>
                            <td>{[{yearTotalHours.toFixed(2) }]}</td>
                            <td>{[{yearTotalPctg.toFixed(2) }]}%</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>{[{yearAvg.toFixed(2) }]}</td>
                            <td>{[{yearDailyAvgPctg.toFixed(2) }]}%</td>
                            <td>daily avg</td>
                        </tr>
                        <tr>
                            <td>total</td>
                            <td>{[{totalAccumulatedHours.toFixed(2) }]}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>{[{totalAccumulatedPctg.toFixed(2) }]}%</td>
                            <td>completed</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</section>

<nav class="triple">
    <button ng-click="go('project-input-view')" class="button">Add Time</button>
    <button ng-click="go('project-detail-view')"class="button">View Time</button>
    <button ng-click="go('projects-list-view')"class="button">Tracks</button>
</nav>
