<!--
    Projects List
-->
<section class="content__main">

    <div class="main list-view">
        <div class="">

            <h2>Tracks</h2>

            <div class="field__container">

                <ul class="projects__list" ng-repeat="project in projectObject track by $index">
                    <li ng-click="deleting||loadData(project); deleting||go('project-output-view')"><span>{[{project.name }]}</span></br>
                        <div class="progress__bar">
                            <progress max="100" value="{[{pctgCompleted(project) }]}"></progress>
                            <span class="percent">{[{pctgCompleted(project) }]}% done</span>
                        </div>
                        <span class='button--delete' ng-click="deleteTrack(project)">x</span>
                    </li>
                </ul>

            </div>

        </div>
    </div>

    <nav class="">
        <button ng-click="go('/')" class="button">New</button>
        <button class="button" ng-click="removeData(); deleting = true" ng-hide="deleting">Remove</button>
        <button class="button" ng-click="restoreCount(); deleting = false;" ng-hide="!deleting">Done</button>
    </nav>

</section>
