
.main.detail-view {

    @media screen and (min-width: 500px) {
        margin: 2rem auto 6rem;
    }

    form {
        position: relative;
            left: -2rem;
        width: calc(100% + 4rem);
    }

    tr {
        height: 2.5rem;
    }

    td span {
        background: #ccc;
        display: block;
        // font-size: 2vh;
        padding: .1em .25em;
        position: absolute;
        left: 50%;
        transform: translatex(-50%);

        &.today {
            background: transparent;
            color: red;
            // font-size: 3vh;
            position: initial;
            transform: none;
        }
    }
}


#calendar {

    &-menu {
        background: $white;
    }

    &-space {

        .main {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        table {
            margin: 2em;
        }

        tr:not(:first-of-type) {
            td {
                display: inline-block;
                position: relative;
                width: 14.28%;
            }
        }
    }
}

.minutes {
    font-size: .75rem;
}
