
.form__input {
    margin-top: -1em;
}

.form__input--wrapper {
    display: table;
    width: calc(100% + 4rem);

    input, label {
        font-size: 1.25rem;
        padding: 1em 2em;
        text-align: center;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    .input__container {
        display: table-cell;
        height: 6em;
        margin-bottom: 1.5rem;
        position: relative;
            left: -2rem;
        width: calc(100% + 4rem);

        @media screen and (min-width: 1440px) {
            height: 10em;
        }

        &:first-of-type {
            margin-bottom: 1rem;
        }

        &:last-of-type {

            label, input {
                border-bottom: 0;
                border-left: 2px solid $black;
                border-right: 0;
                border-top: 0;
                padding: .8rem .7rem;

                @media screen and (min-width: 1440px) {
                    padding: 2.4rem 0rem;
                }
            }

            input {
                border-bottom: 0;
                border-right: 0;
                border-top: 0;

                @media screen and (min-width: 1440px) {
                    padding: 2.4rem .25rem;
                }
            }
        }


        h3, input, label {
            position: absolute;
                top: 50%;
                transform: translatey(-50%);
        }

        input {
            padding: .5em 0em;

            @media screen and (min-width: 1440px) {
                padding: 1.4rem 0em;
            }
        }

        label {
            background: $white;
            // border: 1px solid $black;
            color: $black;
            // padding: 1.1em .5em;
            padding: .8rem;

            @media screen and (min-width: 1440px) {
                padding: 2.4rem 0em;
            }
        }

        h3 {
            padding: 1em .5em;
            margin: 0;
            text-align: left;
        }
    }
}

.app__body {
    ::-webkit-input-placeholder {
        color: $black;
    }
}
