

@font-face {
  font-family: 'Yellowtail';
  src: url('../../yellowtail-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../../yellowtail-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../yellowtail-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../yellowtail-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../yellowtail-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../yellowtail-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
       font-style: italic;
       font-weight: 400;
}

$yellowtail: 'Yellowtail';

$red: #ff4c4c;
$white: #fff;
$black: #333;
$dark-gray: #424242;
$gray: #666;
$light-gray: #aaa;
$lime-green: #B2FFB2;
$font-family: sans-serif;

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.app__body {

    h1, h2, h3, h4, h5, h6,
    p, li, label, a, th, td {
        color: $white;
        margin-top: 0;
    }

    @media screen and (min-width: 1440px) {
        p, li, td {
            font-size: 1.5rem;
        }

        label, input {
            font-size: 2rem;
        }
    }

    background: $light-gray;
    font-family: $font-family;
    margin: auto;
    overflow: hidden;

    .body__inner {
        background: $gray;
        margin: auto;
        height: 100%;
    }

    .content__wrapper {
        height: 100%;
        min-height: 460px;
        position: relative;
    }

    .content__main {
        background: $gray;
        display: table;
        height: 100%;
        margin: 1rem auto 5rem;
        min-width: 16rem;
        vertical-align: middle;

        @media screen and (min-width: 1440px) {
            margin: auto;
            max-width: calc(48rem - 10.5rem);
            min-width: calc(48rem - 10.5rem);
            width: 25rem;
        }

        h1, h2, h3, h4, h5, h6 {
            text-align: center;
        }
    }

    section > .main {
        display: table-cell;

        @media screen and (min-height: 800px) {
            vertical-align: middle;
        }

        > div {
            background: $dark-gray;
            border: 1px solid $lime-green;
            margin: 0 auto 4em;
            padding: 1rem;
            width: 80%;
        }

        p {
            line-height: 1.5;
            margin-bottom: 0;

            &:first-of-type {
                margin-bottom: 1rem;
            }
        }
    }

    a {
        transition: all .7s ease;
        text-decoration: none;
        color: $black;

        &:hover {
            background: $white;
        }
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    li {
        @media screen and (min-width: 1440px) {
            margin-bottom: 1em;
        }
    }

    .content__main--header {
        text-align: center;
    }

    p {
        margin: 0 0 1em 0;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 0;

        @media screen and (min-width: 1440px) {
            font-size: 3rem;
        }

        &.hours {
            font-size: 1.75rem;
            margin-bottom: 1rem;

            @media screen and (min-width: 1440px) {
                font-size: 2rem;
            }
        }
    }

}

@import
    'buttons',
    'header',
    'detail-view',
    'input-view',
    'list-view',
    'new-view',
    'output-view',
    'nav'

;













































// comment
