
.main.new {

    .field__container {
        display: table-cell;
        // font-size: 3rem;
        margin: auto;
        vertical-align: middle;
    }

    .input__container {

        &:first-of-type {
            margin-bottom: 2rem;
        }

        input {
            font-size: 1.25rem;
            padding: 1em;
            position: relative;
                left: -2rem;
            text-align: center;
            width: calc(100% + 4rem);

            @media screen and (min-width: 768px) {
                font-size: 1.5rem;
            }
        }
    }
}
