li {
    padding-bottom: 20px;
    position: relative;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

li a {
    text-decoration: none;
}

h2, span {
    color: #000;
}

h2:first-of-type {
    font-size: 3em;
    opacity: .4;
    margin: 0;
}

h2:last-of-type {
    position: absolute;
    bottom: .25em;
    right: 1em;
    margin: 0;
}

span {
    position: absolute;
    top: 0;
    right: 0;
    padding: .25em;
}