#titleContainer {
    position: relative;
}

h1 {
    color: #b06d06;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 350%;
}

h1:first-child {
    font-size: 550%;
    opacity: .3;
    white-space: nowrap;
}

h1:last-child {
    position: absolute;
    bottom: -1em;
    right: .5em;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}
