---
layout: default
---

<div class="home post">

  {% capture categories %}
    {% for category in site.categories %}
      {{ category[0] }}
    {% endfor %}
  {% endcapture %}
  {% assign sorted_categories = categories | split:' ' | sort %}

  {% for category in sorted_categories %}
    <h2 id="{{ category }}">{{ category }}</h2>
    <ul class="post-list">
      {% for post in site.categories[category] %}
      <li>
        <div>
          {% include post-thumbnail.html %}
        </div>
          <div>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h3>
            <div class="post-excerpt">{{ post.excerpt | strip_html | truncate:100 }}</div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}

</div>

{% include sidebar.html %}
