---
layout: default
---

<div class="home post">


  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <div>
            {% include post-thumbnail.html %}
        </div>
          <div>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <div class="post-excerpt">{{ post.excerpt | strip_html | truncate:125 }}</div>
        </div>
      </li>
    {% endfor %}
  </ul>

</div>

{% include sidebar.html %}
