<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="connect">

    {% include header.html %}

    <div class="page-content">
        <div class="wrapper">

        <div class="content__container post">
            {{ content }}
            {% include social-media-links.html %}
        </div>

        <section action="" class="form__container">
            <form action="" class="form" name="form1" id="ff" method="post" action="https://formspree.io/jefdewitt@gmail.com">

                <div class="form__block">
                    <label for="first name">First Name</label>
                    <input type="text" name="first name" id="name" required autofocus></input><br>
                </div>
                <div class="form__block">
                    <label for="name">Last Name</label>
                    <input type="text" name="last name" id="email" required></input><br>
                </div>
                <div class="form__block">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="headline" required></input><br>
                </div>
                <div class="form__block">
                    <label for="message">Message</label>
                    <textarea type="textarea" name="message" id="content" required></textarea><br>
                </div>
                <input class="button" type="submit" value="send"></input>

            </form>
        </section>

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
