<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="connect">

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="content__wrapper">
            {{ content }}
            {% include social-media-links.html %}
        </div>
        <form action="" class="form__container">
            <form action="" class="form">

                <div class="form__block">
                    <label for="first name">First Name</label>
                    <input type="text" name="first name"></input><br>
                </div>
                <div class="form__block">
                    <label for="name">Last Name</label>
                    <input type="text" name="last name"></input><br>
                </div>
                <div class="form__block">
                    <label for="email">Email</label>
                    <input type="text" name="email"></input><br>
                </div>
                <div class="form__block">
                    <label for="message">Message</label>
                    <textarea type="textarea" name="message"></textarea><br>
                </div>
                <input class="button" type="submit" value="send"></input>

            </form>
        </form>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
