<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="home">

    <!-- {% include header.html %} -->

    <div class="page-content">
      <div class="wrapper">
          <h1 class="name">Jef DeWitt</h1>
        {{ content }}
        <div class="menu__container">
            <ul class="menu">
                <li class="menu__item1"><a href="">Projects</a></li>
                <li class="menu__item2"><a href="">Blog</a></li>
                <li class="menu__item3"><a href="">Connect</a></li>
            </ul>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
