<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="homepage" data-group="one">

    <!-- {% include header.html %} -->

    <div class="page-content">
      <div class="wrapper">
        <div class="site-intro side--left">
            <h1 class="name">Jef <em>DeWitt</em></h1>
            {{ content }}
            <div class="menu__container">
                <ul class="menu">
                    <li class="menu__item1"><a href="/projects">Projects</a></li>
                    <li class="menu__item2"><a href="/">Blog</a></li>
                    <li class="menu__item3"><a href="/connect">Connect</a></li>
                </ul>
            </div>
        </div>
        <div class="image__container side--right">
          <!-- <img src="{{ site.baseurl }}/images/jef-in-suit-one.png" alt="Image of Jef in a smart gray suit."> -->
        </div>
      </div>

    {% include footer.html %}

  </body>

</html>
