<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="projects">

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
        <div class="projects__container post">

            <div class="projects__individual">

                {% for project in site.projects reversed %}
                    <li>
                      <a href="{{ project.url }}">
                          <div class="image__wrap">
                              <img src="/images/{{ project.image }}" alt="Project image">
                              <div class="project__overlay">
                                  <h2 class="page-link" href="{{ projects.url | prepend: site.baseurl }}">{{ project.title }}</h2>
                                  <h2 class="page-link" href="{{ projects.url | prepend: site.baseurl }}">{{ project.tech }}</h2>
                              </div>
                          </div>
                          {% comment %}
                              <p>{{ project.excerpt | strip_html | truncate:125 }}</p>
                          {% endcomment %}
                      </a>
                    </li>
                {% endfor %}

            </div>

        </div>
        {% include sidebar.html %}
      </div>
    </div>


    {% include footer.html %}

  </body>

</html>
