<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="projects">

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
        <div class="projects__container post">

            <div class="projects__individual">

                {% for project in site.projects %}
                    <li>
                      <a href="{{ project.url }}">
                          <div>
                              <img src="/images/{{ project.image }}" alt="Project image">
                              <h2 class="page-link" href="{{ projects.url | prepend: site.baseurl }}">{{ project.title }}</h2>
                          </div>
                      </a>
                    </li>
                {% endfor %}

            </div>

        </div>
        {% include sidebar.html %}
      </div>
    </div>


    {% include footer.html %}

  </body>

</html>
