<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="projects">

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
        <div class="projects__container">
            <div class="projects__inner">
                <div class="project__single1">
                    <div class="project__image">
                        <h3>Project Title</h3>
                    </div>
                    <div class="project__description">{{ section1 }}</div>
                </div>
                <div class="project__single2">
                    <div class="project__image">
                        <h3>Project Title</h3>
                    </div>
                    <div class="project__description">{{ section2 }}</div>
                </div>
                <div class="project__single3">
                    <div class="project__image">
                        <h3>Project Title</h3>
                    </div>
                    <div class="project__description"><p>section 3</p></div>
                </div>
                <div class="project__single4">
                    <div class="project__image">
                        <h3>Project Title</h3>
                    </div>
                    <div class="project__description"><p>section 4</p></div>
                </div>
            </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
