<form>
  <h2>Made Progress? Add Time Here</h2>
  <input type="text" name="minutes" id="minutes" [(ngModel)]="minutes" placeholder="Enter Minutes">
  <input type="checkbox" name="hours" id="hours" (click)="minutesOrHours()">
  <label for="hours">Hours</label>
  <button (click)='addMinutes(minutes)'>Submit</button>
</form>
<div *ngIf="routeFromCal">
  <p>Pressing submit will overwrite the <strong>{{ minutesAlreadyEntered }} {{ increment }}</strong> you've already entered for <strong>{{ routeFromCal }}</strong>.</p>
</div>
